<strong>Grafana alerts:</strong>
{{- if not .Data.GrafanaGroups }}
<strong>No Grafana alerts</strong>
{{- end }}
{{- range $groupId, $group := .Data.GrafanaGroups }}
{{- range $ruleId, $rule := $group.Rules }}
- {{ GetEmojiByStatus $rule.State }} {{ $group.Name }} -> {{ $rule.Name }}
{{- end }}
{{- end }}

<strong>Prometheus alerts:</strong>
{{- if not .Data.PrometheusGroups }}
<strong>No Prometheus alerts</strong>
{{- end }}
{{- range $groupId, $group := .Data.PrometheusGroups }}
{{- range $ruleId, $rule := $group.Rules }}
- {{ GetEmojiByStatus $rule.State }} {{ $group.Name }} -> {{ $rule.Name }}
{{- end }}
{{- end }}
