<strong>Alert rule: </strong> {{ .Data.Name }}
<strong>Alerts ({{ len .Data.Alerts }}): </strong>
{{- if not .Data.Alerts }}
No matching alerts.
{{- end }}

{{- range $alertId, $alert := .Data.Alerts }}

- {{ GetEmojiByStatus $alert.State }}
<strong>Firing for:</strong> {{ FormatDuration $alert.ActiveSince }} (since {{ FormatDate $alert.ActiveAt }})
{{- if $alert.Value }}
<strong>Value: </strong>{{ StrToFloat64 $alert.Value }}
{{- end }}
<strong>Labels: </strong>
{{- range $key, $label := $alert.Labels }}
  {{ $key }} = {{ $label }}
{{- end }}
{{- end }}
