{{- if and (not .Data.GrafanaAlerts) (not .Data.PrometheusAlerts) }}
No firing alerts.
{{ end }}

{{- if .Data.ShowGrafanaHeader }}
{{- if .Data.GrafanaAlerts }}
<strong>Grafana alerts ({{ .Data.GrafanaAlertsCount }}):</strong>
{{- end }}
{{- end }}
{{- range $alertId, $alert := .Data.GrafanaAlerts }}
{{- if $alert.ShowAlertName }}
- {{ GetEmojiByStatus $alert.Alert.State }} {{ $alert.GroupName }} -> {{ $alert.AlertName }} ({{ $alert.GroupAlertsCount }}):
{{- end }}
<strong>Firing for:</strong> {{ FormatDuration $alert.Alert.ActiveSince }} (since {{ FormatDate $alert.Alert.ActiveAt }})
{{- if $alert.Alert.Value }}
<strong>Value: </strong>{{ StrToFloat64 $alert.Alert.Value }}
{{- end }}
<strong>Labels: </strong>
{{- range $key, $label := $alert.Alert.Labels }}
{{- if ne $key "alertname" }}
  {{ $key }} = {{ $label }}
{{- end }}
{{- end }}
{{- end }}



{{- if .Data.ShowPrometheusHeader }}
{{- if .Data.PrometheusAlerts }}
<strong>Prometheus alerts ({{ .Data.PrometheusAlertsCount }}):</strong>
{{- end }}
{{- end }}
{{- range $alertId, $alert := .Data.PrometheusAlerts }}
{{- if $alert.ShowAlertName }}
- {{ GetEmojiByStatus $alert.Alert.State }} {{ $alert.GroupName }} -> {{ $alert.AlertName }} ({{ $alert.GroupAlertsCount }}):
{{- end }}
<strong>Firing for:</strong> {{ FormatDuration $alert.Alert.ActiveSince }} (since {{ FormatDate $alert.Alert.ActiveAt }})
{{- if $alert.Alert.Value }}
<strong>Value: </strong>{{ StrToFloat64 $alert.Alert.Value }}
{{- end }}
<strong>Labels: </strong>
{{- range $key, $label := $alert.Alert.Labels }}
{{- if ne $key "alertname" }}
  {{ $key }} = {{ $label }}
{{- end }}
{{- end }}
{{ end }}