{{- $alertInfo := .Data }}
<strong>Alert rule: </strong> {{ .Data.Alert.Name }}
<strong>Alerts ({{ len .Data.Alert.Alerts }}): </strong>
{{- if not .Data.Alert.Alerts }}
No matching alerts.
{{- end }}

{{- range $alertId, $alert := .Data.Alert.Alerts }}

- {{ GetEmojiByStatus $alert.State }}
{{- $firingFor := $alertInfo.GetAlertFiringFor $alert }}
<strong>Firing for:</strong> {{ FormatDuration $firingFor }} (since {{ FormatDate $alert.ActiveAt }})
{{- if $alert.Value }}
<strong>Value: </strong>{{ StrToFloat64 $alert.Value }}
{{- end }}
<strong>Labels: </strong>
{{- range $key, $label := $alert.Labels }}
  {{ $key }} = {{ $label }}
{{- end }}
{{- end }}
