{{- if not .Data.Silences }}
<strong>Silences</strong>
No silences.
{{- else }}
<strong>Silences ({{.Data.Start}} - {{ .Data.End }} of {{ .Data.SilencesCount }}):</strong>
{{- end }}
{{ range $silenceId, $silenceInfo := .Data.Silences }}
<strong>ID:</strong> <code>{{ $silenceInfo.Silence.ID }}</code>
<strong>Starts at:</strong> {{ FormatDate $silenceInfo.Silence.StartsAt }}
<strong>Ends at:</strong> {{ FormatDate $silenceInfo.Silence.EndsAt }}
<strong>Created by:</strong> {{ $silenceInfo.Silence.CreatedBy }}
<strong>Comment:</strong> {{ $silenceInfo.Silence.Comment }}
<strong>Status:</strong> {{ GetEmojiBySilenceStatus $silenceInfo.Silence.Status.State }} {{ $silenceInfo.Silence.Status.State }}
{{- if $silenceInfo.AlertsPresent }}
<strong>Alerts matched:</strong> {{ len $silenceInfo.Alerts }}
{{- end }}
<strong>Matchers:</strong>
{{- range $matcherId, $matcher := $silenceInfo.Silence.Matchers }}
  {{ $matcher.Serialize }}
{{- end }}
{{ end }}
