<strong>Created silence with following params:</strong>

<strong>ID:</strong> <code>{{ .Data.ID }}</code>
<strong>Starts at:</strong> {{ FormatDate .Data.StartsAt }}
<strong>Ends at:</strong> {{ FormatDate .Data.EndsAt }}
<strong>Created by:</strong> {{ .Data.CreatedBy }}
<strong>Comment:</strong> {{ .Data.Comment }}
<strong>Status:</strong> {{ GetEmojiBySilenceStatus .Data.Status.State }} {{ .Data.Status.State }}
<strong>Matchers:</strong>
{{- range $matcherId, $matcher := .Data.Matchers }}
 {{ $matcher.Serialize }}
{{- end }}
