{{- $global := . }}
{{- if not .Data }}
<strong>Silences</strong>
No silences.
{{- else }}
<strong>Silences ({{ len .Data }}):</strong>
{{ end }}
{{- range $silenceId, $silence := .Data }}
<strong>ID:</strong> <code>{{ $silence.ID }}</code>
<strong>Starts at:</strong> {{ FormatDate $silence.StartsAt }}
<strong>Ends at:</strong> {{ FormatDate $silence.EndsAt }}
<strong>Created by:</strong> {{ $silence.CreatedBy }}
<strong>Comment:</strong> {{ $silence.Comment }}
<strong>Status:</strong> {{ GetEmojiBySilenceStatus $silence.Status.State }} {{ $silence.Status.State }}
<strong>Matchers:</strong>
{{- range $matcherId, $matcher := $silence.Matchers }}
  {{ $matcher.Serialize }}
{{- end }}
{{ end }}
